* {
    box-sizing: border-box;
}

header {
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 30px;
}

body {
  background-color: #e0ffff;
  padding: 30px;
}

.teamname {
    font-weight: bold;
    font-family: Helvetica;
    font-size: 15px;
}

.inline {
    display: inline-block;
}

.actions {
    text-align: right;
}

.button.newteam {
    display: inline-block;
}

.ui.horizontal.label {
    display: inline-block;
}
.info {
    display: inline;
}

.ui.search {
    display: inline-block;
}