* {
    box-sizing: border-box;
}

header {
    padding-left: 47px;
    padding-right: 47px;
    padding-bottom: 30px;
    padding-top: 30px;
}

body {
    padding-top: 20px;
    background-color: #e0ffff;
}

footer {
    margin-top: 100px;
    text-align: center;
    font-size: 12px;
    padding: 30px;
    height: 200px;
    background-color: #ffffff;
    color: lightgrey;
    font-weight: bold;
}

.teamname {
    font-weight: bold;
    font-family: Helvetica;
    font-size: 15px;
}

.teamname_holder {
    width: 80%;
    display: inline-block;
}

.ui.segment.head {
    padding-bottom: 25px;
}

.inline {
    display: inline-block;
}

.actions {
    text-align: right;
}

.ui.horizontal.label {
    display: inline-block;
}

.info {
    display: inline;
}
